<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">
    <title>Datalegen</title>
</head>
<body>
    
    <div class="container-md">
        <div class="row">
            <div class="">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ url_for('static', filename='img/datalegen_logo.png') }}" class="mt-3" style="width: 50px; margin-right: 10px;">
                    <h1 class="text-center mt-3">Vision ID</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card  mt-4">
                    <div class="card-body">
                        <h5 class="text-center"> Aqui puedes extraer los datos de tu INE </h5>
                        <p class="text-center" style="font-size: 12px;"> <em>Tu información no será almacenada </em>&#128521;</p>

                        
                            <p style="color: #4f46e5; font-size: 25px;"><em>-Recomendaciones</em></p>
                            <ul class="list-group">
                                <li class="list-group-item">Captura la imagen en una superficie obscura</li>
                                <li class="list-group-item">La imagen debe capturarse lo más cerca posible </li>
                                <li class="list-group-item">Evita usar imagenes borrosas o de baja calidad</li>
                            </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center mt-4">
                    <h5 class="card-header fw-semibold text-indigo-600">Seleciona tu imagen</h5>
                    <div class="card-body">
                        <form method="post" action="" enctype="multipart/form-data" >
                            <div class="form-group">
                                <input type="file" class="form-control p-1" id="image_file" name="image_file"  accept=".jpg" required>
                            </div>

                                <button type="submit" id="Mostrar" onclick="buttonSpinner('Mostrar')" class="btn btn-primary mt-4" name="show">Enviar</button>

                        </form>

                    <img src="{{ url_for('static', filename='img/example_ine.png') }}" class="mt-4" style="width: 145px; margin-right: 10px;">

                    </div>
                </div>
            </div>
        </div>
         
        <div class="row">

            <div class="col">
                {%if data %}

                <div class="card mt-2">
                    <div class="card-body d-flex justify-content-evenly">
                        <img src="{{ url_for('static', filename=data['img_path']) }}" class="mt-4" style="height: 250px;">
                        <div id='graphSectionPie'></div>
                    </div>
                </div>
                
                       
                <div class="card-body mt-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Campo</th>
                                <th scope="col" class="text-center">Dato</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in data['structured_data'] %}
                            <tr>
                                <th scope="row" class="text-capitalize">{{item['key']}}</th>
                                <td id="textToCopy{{ item['id'] }}" class="px-4">{{ item['value'] }}</td>
                                <td class="d-flex justify-content-center">
                                    {%if item['found']%}
                                    <button type="button" class="btn btn-primary btn-sm fs-6" onclick="copyText('textToCopy{{ item['id'] }}')">Copy</button>
                                    {%endif%}
                                </td>

                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                

                <div class="card-body">

                    <div class="card mt-2">
                        <div class="card-header d-flex justify-content-between">
                            <h5>Raw Data</h5>
                            <button type="button" 
                                    class="btn btn-primary mr-4"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                    onclick="copyText('textToCopy-rawData')"
                            >
                                                     Copy
                            </button>
                        </div>
                        <div class="card-body">
                            <p id="textToCopy-rawData">
                                {{data['raw_data']}}
                            </p>
                        </div>
                      </div>

                </div>

                {%endif%}

                <div class="mt-4">
                    {% if post_page %}
                        <h5 class="text-success text-center">{{msg}}</h5>
                    {% else %}
                        <h5 class="text-danger text-center">{{msg}}</h5>
                    {% endif %}
                </div>
            </div>

            </div>
        </div>


    <div class="container-md">
        <p class="mt-4 text-center" style="font-size: 10px;"> <span style="font-style: italic;">Powered by</span> <a class="" style="color: #4f46e5; text-decoration: none;" href="http://datalegen.com/">Datalegen.com </a></p>
    </div>
    <script src='https://cdn.plot.ly/plotly-2.34.0.min.js'></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/index.js') }}" ></script>
    {%if data %}
    <script>
        const grap_data_server = {{ data['graph_data'] | tojson }};
        graphPie(grap_data_server);
    </script>
    {%endif%}


</body>
</html>